body{
    background-color: #0f121f;
    background-image: url(/static/stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
    padding: 0 2px 0 2px;
}

body*{
    font-family: Ubuntu;
}

p.obs{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    word-wrap: break-word;
}

p.obs:hover{
    white-space: pre-wrap;
    overflow: visible;
    width: 100%;
}

img{
    width: 50px;
    height: auto;
}

.loginheader{
    text-align: center;
}

.visualizalogin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 300px;
    border: 1px solid #ffffff4f;
    align-self: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.compromissos{
    width: 100%;
    display: table;
    border: 1px solid #ffffff4f;
}
.compromisso{
    width: 300px;
    border-radius: 20px;
    float: left;
    box-shadow: -2px 3px #a3d1e654;
    border: 2px solid #a3d1e6;
    margin: 20px;
    padding: 20px;
}

.compromisso-visualiza-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.compromisso-visualiza{
    width: 600px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    border: 2px solid #a3d1e6;
    margin: 40px;
    padding: 30px;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}

h1{
    color: #7ec4bd;
    font-family: Trebuchet MS;
}

h2,h3,h4,h5{
    font-family: Helvetica;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    padding: 20px;
}

header{
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

.criacomprbotao{
    background: none;
    color: #fff;
    cursor: pointer;
}

.logoutbutton{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.criaCompromisso{
    display: block;
    width: 5000px;
    border: 1px solid #ffffff4f;
    margin: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.site-form input, .site-form textarea, .site-form select{
    display: block;
    margin: 20px 0 10px 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 0.85em;
    display: block;
}

.errorlist li{
    padding: 10px;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}

.errormsg{
    padding: 10px;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}