{% extends 'base_layout.html'%}

{% block content %}
    <header>
        <div class="meuscompromissosdiv">
            <h2>Meus Compromissos</h2>
        </div>
        <nav>
            <li>
                <a class="botao-icon" href="{% url 'compromisso:cria' %}">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Novo
                </a>
            </li>
        </nav>
    </header>

    <div class="compromissos">
            {% for compromisso in compromissos %}
                <div class="compromisso">
                    <p><h2><a href="{% url 'compromisso:visualiza' comp_id=compromisso.id %}">{{ compromisso.nome }}</a></h2></p>
                    <p>Início: {{ compromisso.data_inicial }}</p>
                    <p>Fim: {{ compromisso.data_final }}</p>
                    <p>Local: {{ compromisso.local }}</p>
                    <p>Status: {{ compromisso.status }}</p>
                    <p class="obs">Obs: {{ compromisso.obs }}</p>
                    <p></p>
                </div>
            {% endfor %}
        </div>
{% endblock %}