{% extends 'base_layout.html'%}

{% block content %}
    <header>
        <h2>Meus Compromissos</h2>
        <nav>
        <li>
            <a class="criacomprbotao" href="{% url 'compromisso:cria' %}">+</a>
        </li>
        </nav>
    </header>

    <div class="compromissos">
            {% for compromisso in compromissos %}
                <div class="compromisso">
                    <h2><a href="{% url 'compromisso:visualiza' comp_id=compromisso.id %}">{{ compromisso.nome }}</a></h2>
                    <p>Início: {{ compromisso.data_inicial }}</p>
                    <p>Fim: {{ compromisso.data_final }}</p>
                    <p>Local: {{ compromisso.local }}</p>
                    <p>Status: {{ compromisso.status }}</p>
                    <p class="obs">Obs: {{ compromisso.obs }}</p>
                    <p></p>
                </div>
            {% endfor %}
        </div>
{% endblock %}