{% extends 'base_layout.html'%}

{% load crispy_forms_tags %}


{% block content %}
        <h2 class="loginheader">Criar Compromisso</h2>
        <div class="compromisso-visualiza-wrapper">
            <div class="criaCompromisso">
                <form class="site-form" action="{% url 'compromisso:cria' %}" method="post">
                    {% csrf_token %}
                        {{ form| crispy }}
                        <input type="submit" value="Criar">
                </form>
        </div>
    </div>
{% endblock %}